<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Wasif Shahzad">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Cuprum:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Cuprum:ital,wght@0,400..700;1,400..700&family=Gasoek+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans+Narrow:wght@400;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/theme/style.css">
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% set current_page = page_name|default('') %}
    <div class="parent-container">
      <nav class="mobile">
        <a class="{% if current_page == 'index' %}active{% endif %}" href="{{ SITEURL }}/">Home</a>
        <a class="{% if current_page == 'articles' %}active{% endif %}" href="{{ SITEURL }}/articles.html">Articles</a>
        <a href="#">About</a>
      </nav>
      <div class="title-container">
        <nav class="desktop">
          <a class="{% if current_page == 'index' %}active{% endif %}" href="{{ SITEURL }}/">Home</a>
          <a class="{% if current_page == 'articles' %}active{% endif %}" href="{{ SITEURL }}/articles.html">Articles</a>
          <a href="#">About</a>
        </nav>
        <div class="main-title">
          <p class="title">The Wasif Report</p>
          <img src="./theme/w-with-umbrella.png" alt="Logo">
          <p class="subtitle">Stories of deep dives, broken builds and everyday breakthroughs</p>
        </div>
        <div class="title-footer scroll-animation">
          <p>
            Wasif Shahzad | Junior Software Dev
          </p>
<!--          <p class="scroll-text">-->
<!--            Wasif Shahzad &#8212; Junior Full-Stack Dev &#8212; Karachi, Pakistan-->
<!--          </p>-->
<!--          <p class="scroll-text">-->
<!--            Wasif Shahzad &#8212; Junior Full-Stack Dev &#8212; Karachi, Pakistan-->
<!--          </p>-->
        </div>
      </div>
      <div class="content-container">
        <div class="main-content-container">
          {% block content %}
          {% endblock content %}
        </div>
        <div class="shape-divider">
            <svg viewBox="0 0 800 126" fill="none" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none">
                <!-- Green background block to match article -->
                <rect width="800" height="126" fill="#5F6D3B"/>
                <!-- Beige cloud path to match footer -->
                <path d="M34.5716 62.5412H0V126H800V93.3642C784.231 88.227 749.841 77.9528 738.438 77.9528C724.185 77.9528 690.22 33.834 676.573 33.834C662.927 33.834 575.284 14.4942 566.793 9.65926C558.302 4.82432 507.961 62.5412 494.314 62.5412C480.667 62.5412 464.594 71.3047 457.923 67.3764C451.251 63.448 400.91 77.0462 368.158 77.9528C335.406 78.8593 339.348 51.0584 309.325 48.3388C279.303 45.6191 235.936 3.9175 215.921 0.291295C195.906 -3.33491 127.976 28.0922 118.575 28.0922C109.174 28.0922 82.79 28.9988 73.9955 28.0922C65.2009 27.1857 39.4238 62.5412 34.5716 62.5412Z" fill="#F9F1E2"/>
            </svg>
        </div>
        <div class="curtain-footer">
          <h1>
            Break things.
            <br aria-hidden="true">
            Build better!
          </h1>
          <div class="footer-links">
            <a href="#">Home</a>
            <a href="#">Articles</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
          </div>
          <p>EOF</p>
        </div>
      </div>
    </div>

    <script src="/theme/app.js"></script>
  </body>
</html>
